@{
Layout = "_Layout";
}

<h1>Welcome to the Word Counter!</h1>
<h3><a href='/repeatcounters'>Word Counter</a></h3>
<h3><a href='/scrabblescore/'>Scrabble Scorer</a></h3>
<h3><a href='/leetspeak/'>Leet Speak Translator</a></h3>
