<div id="sidebar">
  <a href='/'>Home</a><br>
  <a href='/repeatcounters'>Word Counter</a><br>
  <a href='/scrabblescore/'>Scrabble Scorer</a><br>
  <a href='/leetspeak/'>Leet Speak Translator</a><br>
</div>
