@using WordCounter.Models;

<h1>Word Counts</h1>
<ul>

@if (Model.Count == 0)
{
  <p>You have no saved word counts</p>
}
@if (Model.Count !=0)
{
  @foreach (RepeatCounter repeatcounter in Model)
  {
  <li>Word: @repeatcounter.GetWord() <br>
  Sentence: @repeatcounter.GetSentence()<br>
  Word Count: @repeatcounter.CheckMatches()
  </li>
  }
}

</ul>
<a href="/repeatcounters/new">Check a new word</a>
