@{
Layout = "_Layout";
}

<h1>Word Counter</h1>
<p>Enter a word and a sentence, and we will tell you how many times the former appears in the latter.</p>

<form action="/repeatcounters" method="post">
  <label for="wordInput">Word</label>
  <input id="wordInput" name="wordInput" type="text">

  <label for "sentenceInput">Sentence</label>
  <input id="sentenceInput" name="sentenceInput" type="text">

  <button type="submit">Add</button>
</form>

<p><a href="/">Home</a></p>
<p><a href="/repeatcounters">View previous word counts</a></p>
