@{
Layout = "_Layout";
}

<h1>1337 Zp3ak Translator</h1>
<p>Enter a word, and we'll translate it into 'leetspeak'!</p>

<form action="/leetspeak" method="post">
  <label for="wordInput">Word</label>
  <input id="wordInput" name="wordInput" type="text">

  <button type="submit">Add</button>
</form>

<p><a href="/">Home</a></p>
<p><a href="/leetspeak">View my list of translated words</a></p>
