@{
Layout = "_Layout";
}

@using WordCounter.Models;

<h1>L337 Zp3ak</h1>

  <li>Original: @leetspeak.GetInput() <br>
      L337: @leetspeak.GetOutput()<br>
  </li>

<a href="/leetspeak/new">Translate a new word</a>
