@{
Layout = "_Layout";
}

<h1>L337 Zp3ak</h1>
<p>Enter a word and we'll translate it into leet speak'.</p>

<form action="/leetspeak" method="post">
  <label for="wordInput">Word</label>
  <input id="wordInput" name="wordInput" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Home</a></p>
