body{
  background-color: lightyellow;
  margin-left: 160px;
  text-align: center;
}

div#sidebar {
    position:fixed;
    bottom:0px;
    left:0px;
    height:100%;
    width:160px;
    color:#CCC;
    background:#333;
    padding:8px;
}
